.item{
    width:500px;
    color:rgb(23, 4, 53);
    font-size:20px;
    margin:0 auto;
}
.itemName{
    font-weight:bold;
    padding:20px;

}
.line{
    border:1px solid #0e0d0df4;
}
.deleteButton{
    float:right;
    padding:6px 10px;
    border:none;
    color:black;
    margin-top :-5px;
}
.completed{
    text-decoration: line-through;
}